$font-stack: 'Roboto', sans-serif;

$color-bg: #f5f6fa;
$color-primary: #182C61;
$color-button: #44bd32;
$color-button-hover: #4cd137;
$color-white: #fff;

$container-width: 1024px;

$border-radius: 16px;
$button-radius: 8px;